  .highlight {
    color: red;
  }


  .img-model {
    transition: filter 0.3s ease-in-out;
  }
  
  /* Classe à ajouter lors du scroll pour flouter l'image */
  .blurred {
    filter: blur(4px);
  }


  .line-connector {
    flex-grow: 1;
    margin: 0 20px;
    height: 2px;
    position: relative;
    background-color: #ccc; /* Couleur de fond de la ligne */
    overflow: hidden; /* Permet de masquer l'animation débordant de la div */
  }
  
  .line-connector::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: blue; /* Couleur de l'animation */
    animation: slideRight 2s linear infinite;
  }
  
  @keyframes slideRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

footer {
  background-color: black; /* Fond noir */
  color: white; /* Texte blanc */
}

footer a {
  color: white; /* Liens en blanc */
}

footer a:hover {
  color: #dddddd; /* Légère variation de blanc au survol */
}

footer .border-bottom {
  border-color: #333333; /* Couleur de bordure plus foncée pour une meilleure visibilité */
}

/* Ce style s'applique au texte de droits d'auteur en bas du footer */
footer .text-center.p-4 {
  background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent pour la distinction */
}

/* Pour les icônes FontAwesome */
footer .fab {
  color: white; /* Icônes en blanc */
}

h1 {
  color: black;
}