body {
  overflow-x: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,98,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 18px; /* Ajustez la taille du texte du logo */
  }
  .navbar-nav .nav-link {
    font-size: 16px; /* Ajustez la taille du texte des liens */
  }
}
@media (max-width: 576px) {
  .offcanvas-body {
      padding: 1rem; /* Réduit le padding à l'intérieur du menu pour les petits écrans */
  }
  .offcanvas-body .nav-link {
      font-size: 14px; /* Réduit la taille de la police pour les liens */
  }
}
.navbar.bg-body-tertiary {
  background-color: transparent !important;
}
.offcanvas {
  max-width: 100%; /* S'assure que le menu ne dépasse pas la largeur de l'écran */
}
.offcanvas-body .nav-link, .offcanvas-body form {
  white-space: nowrap; /* Optionnel: Empêche le texte de passer à la ligne si nécessaire */
  overflow: hidden; /* Cache tout débordement de contenu */
  text-overflow: ellipsis; /* Ajoute des ellipses pour le texte qui déborde */
}


.carousel-item img {
  max-width: 75%; /* Ajustez ce pourcentage selon la taille désirée */
  margin: auto; /* Centre l'image horizontalement */
  display: block; /* Assure que margin: auto fonctionne correctement */
}

  .highlight {
    color: red;
  }


  .img-model {
    transition: filter 0.3s ease-in-out;
  }
  
  /* Classe à ajouter lors du scroll pour flouter l'image */
  .blurred {
    filter: blur(4px);
  }


  .line-connector {
    flex-grow: 1; 
    margin: 0 10px;
    height: 2px;
    position: relative;
    background-color: #ccc; /* Couleur de fond de la ligne */
    overflow: hidden; /* Permet de masquer l'animation débordant de la div */
  }

  @media (max-width: 768px) {
    .line-connector {
      display: none; /* Cacher les lignes sur les petits écrans */
    }
  }
  
  .line-connector::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: -100%;
    background-color: blue; /* Couleur de l'animation */
    animation: slideRight 2s linear infinite;
  }
  
  @keyframes slideRight {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }

footer {
  background-color: black; /* Fond noir */
  color: white; /* Texte blanc */
}

footer a {
  color: white; /* Liens en blanc */
}

footer a:hover {
  color: #dddddd; /* Légère variation de blanc au survol */
}

footer .border-bottom {
  border-color: #333333; /* Couleur de bordure plus foncée pour une meilleure visibilité */
}

/* Ce style s'applique au texte de droits d'auteur en bas du footer */
footer .text-center.p-4 {
  background-color: rgba(255, 255, 255, 0.1); /* Fond légèrement transparent pour la distinction */
}

/* Pour les icônes FontAwesome */
footer .fab {
  color: white; /* Icônes en blanc */
}

.no-underline {
  text-decoration: none;
}

h1 {
  color: black;
}

